<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<packageSources>
				<add key="TrainCloud" value="https://nuget.pkg.github.com/traincloud-net/index.json" />
		</packageSources>
		<packageSourceCredentials>
				<TrainCloud>
						<add key="Username" value="SebHoyer" />
						<add key="ClearTextPassword" value="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" />
				</TrainCloud>
		</packageSourceCredentials>
</configuration>